.env
.env.local
.env*.local
node_modules
.next
out
dist
build
*.log
npm-debug.log*
*.bak
public/uploads/
.DS_Store
*.pem
.vercel
.turbo
coverage
.nyc_output
playwright-report
test-results
*.tsbuildinfo
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/startfast-pro.iml
/.idea/vcs.xml
/package-lock.json
